@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  min-height: 100vh;
  background-color: #ffdada;
  background-image: url(https://img.itch.zone/aW1nLzE2MTM4NDEucG5n/original/%2B9g6CM.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "poppins";
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: #2c3233;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

a {
  color: #2c3233;
}

a:hover {
  color: #ffdada;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"] {
  color: #2c3233;
  border-color: #ffdada;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="file"]:focus {
  color: #2c3233;
  border-color: #ffdada;
  outline: 2px solid #2c3233;
}

.card {
  background-color: white;
  color: #2c3233;
  border-color: #2c3233;
}

.form-control {
  background-color: white;
}

.form-btn {
  margin-top: 35px;
  margin-bottom: 15px;
  padding: 8px 15px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: #2c3233;
  border: 1px solid #2c3233;
  border-radius: 20px;
  position: relative;
}

.form-btn:hover {
  color: white;
  background-color: #ffdada;
  border-color: #ffdada;
}
